extends layout

block content

  .home
    p This is an example of create, read, update, delete web application built with Express.js v4.8.1, and different ways of persisting data (memory variables, session, cookie, files, mongoDB... )
    p Click 
      a(href="/tasks") here
      |  to see the tasks and/or start adding them
